* { padding:0; margin:0; outline:0; }
body {
	background:#fff;
	font-family: Arial, sans-serif;
	font-size:12px;
	line-height:17px;
	color:#6f6e6e;
}

a img { border:0; }

a { color:#890000; text-decoration: none; cursor:pointer; }
a:hover { color:#333; }


h3 { font-size:15px; line-height:18px; color:#bcbcbc; text-transform: uppercase; }