input, textarea, select { font-family: Arial, sans-serif; font-size:12px; color:#333; }
textarea { overflow:auto;}

.options { height:47px; white-space:nowrap; padding-top:3px;}

#content { padding-top:20px; }
